body{
    background-color: black;
}

 h1{
   color: rgb(144, 226, 232);
   font-family: sans-serif;
 }


.row{
   margin:5px; 
}

label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

fieldset{
    margin: 25px ;
    border-radius: 10px;
    border-color: rgb(99, 211, 196);
    color: rgb(132, 230, 223);
}

input{
    border-color: rgb(235, 244, 146);
    background-color: rgb(169, 241, 238);
}

button{
    margin:25px;
    margin-top:0px;
    background-color: rgb(19, 71, 69);
    color:rgb(147, 239, 221);
}